{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" id="editor-theme" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
<link href="/static/css/fineuploader.css" rel="stylesheet">
<link href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css" rel="stylesheet">

<style>
.spacer {
  margin-top:100px;
}
.cbutton {
  min-width:2em;
}
.cbutton input:checked + span {
  background-color: #00d1b2;
  color: white;
}
.awesomplete {
  width: 100%;
}
.awesomplete > ul > li {
  font-size:0.8em;
  padding-top:0.1em;
  padding-bottom:0.1em;
}
#tweet_type[value="tweet"] ~ #tweet_id {
  display: none;
  visibility: hidden;
}
#tweet_type[value="rt"] ~ #tweet_content, #tweet_type[value="rt"] ~ #tweet_medias {
  display: none;
  visibility: hidden;
}


</style>

<!-- https://github.com/mervick/emojionearea -->
<!-- https://fineuploader.com/demos.html -->

<section class="container content">
<form id="action" action="action" method="post" novalidate>
<div class="spacer1"></div>
<h1>{% if action_id %}Modifier{% else %}Nouvelle{% endif %} opération <input type="submit" class="button is-primary" value="Valider"></h1>
{% if action_id %}<input type="hidden" name="action_id" value="{{ action_id }}">{% endif %}
<hr>
<h3>Objet</h3>

<input name="tweet_medias" id="upload_ids" type="hidden">
<input name="timezone" id="timezone" type="hidden">

<!-- Tweet Type -->

<div id="tweet_type" class="field is-horizontal" value="{% if tweet_id %}rt{% else %}tweet{% endif %}">
  <div class="field-label is-normal">
    <label class="label">Type Action</label>
  </div>
  <div class="field-body">
    <div class="select">
      <select name="tweet_type">
        <option value="tweet">Tweet</option>
        <option value="rt" {% if tweet_id %}selected{% endif %}>RT</option>
      </select>
    </div>
  </div>
</div>

<!-- Tweet ID -->
<div id="tweet_id" class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Tweet ID</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="tweet_id" class="input" type="text" placeholder="ex: 99877845454124" {% if tweet_id %}value="{{tweet_id}}"{% endif %}required>
      </div>
      {% if tweet_error %}<p class="help is-danger">ID non valide</p>{% endif %}
    </div>
  </div>
</div>

<!-- Tweet Content -->
<div id="tweet_content" class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Contenu</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea id="tweet_content_area" name="tweet_content" class="textarea tweet_content" placeholder="Contenu du tweet"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- pings -->
<div id="tweet_pings" class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Tags</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input id="tweet_pings_input" type="text" name="tweet_tags" class="input tweet_pings" placeholder="Utilisateurs twitter à tagger"></textarea>
      </div>
    </div>
  </div>
</div>

<!-- Attachments -->
<div id="tweet_medias" class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Medias</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div id="fine-uploader-manual-trigger"></div>
      </div>
    </div>
  </div>
</div>



<br>

<h3>Programmation</h3>

<!-- Start -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Date/Heure</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="start" type="datetime-local" class="input" {% if start %}value="{{start}}"{% endif %} required>
      </div>
    </div>
  </div>
</div>


<hr>
<style>
 #diffusion_active[value="off"] ~ #diffusion_bloc {
   display:none;
   visibility: hidden;
 }
</style>

<h3 id="diffusion_active" value="off">Diffusion <input name="diffusion_active" type="checkbox" onchange="document.getElementById('diffusion_active').setAttribute('value', (this.checked?'on':'off'));"></h3>

<!-- RT/Like -->
<div id="diffusion_bloc">
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Actions</label>
  </div>
  <div class="field-body">
    <span class="cbutton">
     <label>
        <input name="rt" type="checkbox" {% if 'rt' in actions %}checked{% endif%} hidden><span class="button"><i class="fas fa-retweet"></i></span>
     </label>
    </span>
    <span class="cbutton">
    <label>
      <input name="like" type="checkbox" {% if 'like' in actions %}checked{% endif%} hidden><span class="button"><i class="fas fa-heart"></i></span>
    </label>
    </span>
  </div>
</div>


<!-- Duration -->
<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Durée</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="duration" type="number" placeholder="de 5 a 240 min" class="input" min="5" max="240" step="5" {% if duration %}value="{{duration}}"{% endif %} required>
      </div>
    </div>
  </div>
</div>

<!-- account_selection -->
<div id="account_selection" class="field is-horizontal" value="Aléatoire">
  <div class="field-label is-normal">
    <label class="label">Choix des comptes</label>
  </div>
  <div class="field-body">
    <div class="select">
      <select name="comptes">
        <option value="hasard">Aléatoire</option>
        <option value="decroissant">Nombre d'abonnés décroissant</option>
        <option value="croissant">Nombre d'abonnés croissant</option>
      </select>
    </div>
  </div>
</div>

<!-- Diffusion -->
<div id="diffusion" class="field is-horizontal" value="Linéaire">
  <div class="field-label is-normal">
    <label class="label">Diffusion</label>
  </div>
  <div class="field-body">
    <div class="select">
      <select name="diffusion">
        <option value="lineaire">Linéaire</option>
        <option value="logarithmique">Logarithmique</option>
        <option value="exponentielle">Exponentielle</option>
      </select>
    </div>
  </div>
</div>
</div>

<!--
<div class="field is-horizontal">
  <div class="field-label">

  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="submit" class="button is-primary" value="Valider">
      </div>
    </div>
  </div>
</div>
-->
</form>
<div class="spacer"></div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/5.16.2/jquery.fine-uploader/jquery.fine-uploader.min.js"></script>
<script src='https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.js'></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<script src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>
<script src="/static/js/jstz.min.js"></script>
<!-- Fine Uploader Thumbnails template w/ customization
====================================================================== -->
<script type="text/template" id="qq-template-gallery">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload files</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script>


  $(document).ready(function(){
    function set_value(evt) {
      var e = evt.currentTarget;
      var field = document.getElementById(e.name);
      field.setAttribute('value',e.value);
    }
    var x = document.getElementsByTagName('select');
    var i;
    for (i = 0; i < x.length; i++) {
      x[i].onchange = set_value;
    }




    // emoji
    $(".tweet_content").emojioneArea({
      pickerPosition: "bottom",
      filtersPosition: "bottom",
      tonesStyle: "square",
      events: {
        keyup : function (editor,event) {

          console.log(event);

        }
      }
    });

    // fineUploader
    $('#fine-uploader-manual-trigger').fineUploader({
        template: 'qq-template-gallery',
        request: {
            endpoint: '/upload'
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/source/placeholders/waiting-generic.png',
                notAvailablePath: '/source/placeholders/not_available-generic.png'
            }
        },
        deleteFile: {
          enabled: true,
          forceConfirm: true,
          endpoint: '/upload'
    },
        autoUpload: true
    }).on('complete', function (event, fileId, fileName,json) {
      updateFileList();
    }).on('deleteComplete', function (event, fileId, fileName,json) {
      updateFileList();
    });

    function updateFileList() {
      $("#upload_ids").val($('#fine-uploader-manual-trigger').fineUploader('getUploads',{status: qq.status.UPLOAD_SUCCESSFUL}).map(function(e) { return e.uuid;}).join(','));
    }

    // autocomplete tags
    var input = document.getElementById("tweet_pings_input");
    var awesomplete = new Awesomplete(input, {
      minChars: 1,
      autoFirst: true,
      filter: function(text, input) {
		      return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
	    },
	    item: function(text, input) {
		      return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
	    },
	    replace: function(text) {
		      var before = this.input.value.match(/^.+,\s*|/)[0];
		      this.input.value = before + text.value + ", ";
	    }
    });

    $("#tweet_pings_input").on("keyup", function(){
      var tags = this.value.split(', ');
      var tag = tags[tags.length-1];
      console.log(tag);
      $.ajax({
        url: 'https://twitter.com/i/search/typeahead.json?count=10&filters=false&q='+tag+'&result_type=users&src=SEARCH_BOX',
        type: 'GET',
        dataType: 'jsonp',
        crossDomain: true
      })
      .success(function(data) {
        var list = [];
        $.each(data.users, function(key, value) {
          list.push({'label':value.name + ' ('+value.screen_name+')','value':'@'+value.screen_name});
        });
        awesomplete.list = list;
      });
    });

    // Timezone

    $('#timezone').val(jstz.determine().name());


  });
</script>
{% endblock %}
