{% extends "base.html" %}
{% block content %}
<style>
.spacer {
  margin-top:100px;
}
</style>
<section class="container">
<form id="twitter" action="config_twitter" method="post"></form>
<hr/>
<h3 class="title">Twitter {% if twitter_success %}<i class="far fa-check-circle has-text-success"></i>{% else %}<i class="far fa-times-circle has-text-danger"></i>{% endif %}</h3>


<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Consumer Key</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="twitter_consumer_key" class="input" type="text" placeholder="(API Key)" form="twitter" value="{{ twitter_consumer_key }}">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Consumer Secret</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="twitter_consumer_secret" class="input" type="text" placeholder="(API Secret)" form="twitter" value="{{ twitter_consumer_secret }}">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Access Token</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="twitter_access_token" class="input" type="text" placeholder="" form="twitter" value="{{ twitter_access_token }}">
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Access Token Secret</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="twitter_access_token_secret" class="input" type="text" placeholder="" form="twitter" value="{{ twitter_access_token_secret }}">
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="submit" class="button is-primary" form="twitter" value="Valider">
      </div>
    </div>
  </div>
</div>
<div class="content">
  <blockquote>Pour révoquer les accès a votre compte twitter, il vous suffit de supprimer l'application twitter via  <a href="https://apps.twitter.com">https://apps.twitter.com</a>.</blockquote></div>
<div class="spacer"></div>
<div class="content">
  <h1>Génération des clés Twitter</h1>
  <p>Pour obtenir les clés il faut créer une application Twitter.</p>
  <h2>Création d'une application Twitter</h2>
  <ul>
  <li>Aller sur la page <a href="https://apps.twitter.com">https://apps.twitter.com</a>.
    <figure>
      <img src="/static/images/createApp.png">
    </figure>
  </li>
  <li>Cliquer sur <em>Create New App</em>
    <figure>
      <img src="/static/images/createApp2.png">
    </figure>
  </li>
  <li>Renseigner les champs :<ul>
    <li><em>Name</em>: vous pouvez mettre ce que vous voulez.</li>
    <li><em>Description</em>: n'importe quoi de plus de 10 caractères.</li>
    <li><em>Website</em>: n'importe quoi sous la forme d'une adresse HTTP valide.</li>
    <li><em>Callback URL</em>: laisser vide.</li>
    <li>Cocher le <em>Developer Agreement</em>.</li>
    </ul>
  </li>
  <li>Cliquer sur <em>Create your Twitter application</em>.
    <figure>
      <img src="/static/images/appConfig.png">
    </figure>
  </li>
  <li>Cliquer sur l'onglet <em>Keys and Access Tokens</em>
    <figure>
      <img src="/static/images/consumerKeys.png">
    </figure>
  </li>
  <li>Recopier les chaines <em>Consumer Key</em> et <em>Consumer Secret</em>
    <figure>
      <img src="/static/images/accessTokenCreation.png">
    </figure>
  </li>
  <li>Cliquer sur le bouton <em>Create my access Token</em>
    <figure>
      <img src="/static/images/accessToken.png">
    </figure>
  </li>
  <li>Recopier les chaines <em>Access Token</em> et <em>Access Token Secret</em></li>

  </ul>

</div>
<div class="spacer"></div>
</section>

{% endblock %}
