<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DITweets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body class="layout-default">
  <section class="hero is-fullheight is-medium is-primary is-bold">
        <div class="hero-body content">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
              <div class="box">
                    <h1>Connexion</h1>
                    <br>
                     <form action="login" method="post">

                       <div class="field">
                         {% if loginerror %}<p class="help is-danger">L'utilisateur ou le mot de passe est incorrect</p>{% endif %}
                         <div class="control">
                           <input name="username" class="input is-medium{% if loginerror %} is-danger{% endif %}" type="text" placeholder="Utilisateur" autofocus="">
                        </div>
                      </div>

                       <div class="field">
                         <div class="control">
                           <input name="password" class="input is-medium{% if loginerror %} is-danger{% endif %}" type="password" placeholder="Mot de passe">
                         </div>

                       </div>

                       <input type="submit" class="button is-block is-primary is-medium is-fullwidth" value="Login">
                     </form>
                     <br>
                     <p class="has-text-gray content is-small">
                           <a href="/signin">Créer un compte</a> &nbsp;·&nbsp;
                           <a href="/reset_request">Mot de passe oublié</a>
                     </p>
                   </div>

                 </div>
               </div>
           </div>
  </section>
</body>
</html>
