<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DITweets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body class="layout-default">
  <section class="hero is-fullheight is-medium is-primary is-bold">
        <div class="hero-body content">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
              <div class="box">
              {% if sent %}
              <h3>Vérifiez votre boîte mail</h3>
              {% else %}
              <h2>Réinitialisation mot de passe</h2>
               <form action="reset_request" method="post">
                 <input id="domain" name="domain" type="hidden">
                 <div class="field">
                   <div class="control">
                     <input name="username" class="input is-medium" type="text" placeholder="Utilisateur" autofocus="">
                   </div>
                 </div>
                 <input type="submit" class="button is-block is-primary is-medium is-fullwidth" value="Envoyer le mail">
               </form>
              {% endif %}
               </div>
             </div>
            </div>
        </div>
  </section>
  <script>
  document.getElementById("domain").value = window.location.host;
  </script>
</body>
</html>
